tmp
application/sessions/*
application/logs/*
application/uploads/*
assets/plugins
*.patch
patches/
.idea/
git-svn-diff.py
*.bash
.swp
.buildpath
.project
.settings/*
*.swp
*.rej
*.orig
*~
*.~
*.log
.env
